@font-face {
  font-family: "Gotham";
  src: url("/public/fonts/Gotham-Book.woff2") format("woff2"),
    url("/public/fonts/Gotham-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: "swap";
}

@font-face {
  font-family: "Gotham";
  src: url("/public/fonts/Gotham-Bold.woff2") format("woff2"),
    url("/public/fonts/Gotham-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: "swap";
}

@font-face {
  font-family: "Gotham";
  src: url("/public/fonts/Gotham-Light.woff2") format("woff2"),
    url("/public/fonts/Gotham-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: "swap";
}

@font-face {
  font-family: "Gotham";
  src: url("/public/fonts/Gotham-Medium.woff2") format("woff2"),
    url("/public/fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: "swap";
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
